@media (max-width:365px){
    /* ======================== Banner Section Start ========================= */

.banner{
    display: grid;
    grid-template-columns: 450px;
    padding: 10px;
    grid-column-gap: 20px;
}


.banner-content{
    background-image: url(/img/banner/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0px 45px 29px;
}

.banner-content > h1{
    font-size: 14px;
}

.banner-content1{
    background-image: url(/img/banner/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 160px;
    background-size: cover;
    width: 100%;
    margin-left: 104px;
    margin-top: 20px;
    max-width: 302px;
    padding: 26px 0px 10px 30px;
    margin-bottom: 20px;
}

.banner-content2{
    background-image: url(/img/banner/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 160px;
    background-size: cover;
    width: 100%;
    margin-left: 104px;
    margin-top: 20px;
    max-width: 302px;
    padding: 26px 0px 10px 30px;
    margin-bottom: 20px;
}

.banner-content1 h2{
    color: rgb(66 186 146);
    margin-top: 0px;
}

.banner-content2 h2{
    color: #ff696b;
    font-weight: 400;
    margin-top: 0px;
    font-size: 19px;
}

.banner-content p{
    margin-top: 0px;
    font-size: 13px;
}

.banner-content1 p{
    font-size: 14px;
}


/* ======================== Banner Section  End ========================= */



/* ======================== Card Section Start ========================= */

.card-section{
    display: grid;
    grid-template-columns: 291px;
    grid-column-gap: 10px;
}


.card{
    background-image: url(/img/banner/4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0px 165px 25px;
    margin-left: 110px;
    height: 100%;
    width: 100%;
    max-width: 288px;
    max-height: 23px;
    margin-top: 10px;
}

.card-1{
    background-image: url(/img/banner/5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0px 165px 25px;
    margin-left: 110px;
    height: 100%;
    width: 100%;
    max-width: 288px;
    max-height: 23px;
    margin-top: 10px;
}
.card-2{
    background-image: url(/img/banner/6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0px 165px 25px;
    margin-left: 110px;
    height: 100%;
    width: 100%;
    max-width: 288px;
    max-height: 23px;
    margin-top: 10px;
}

.card-3{
    background-image: url(/img/banner/7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0px 165px 25px;
    margin-left: 110px;
    height: 100%;
    width: 100%;
    max-width: 288px;
    max-height: 23px;
    margin-top: 10px;
}



/* ======================== Card Section End ========================= */


/* ======================== item Section Start ========================= */


.items-img{
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    max-width: 220px;
    border: 0.1px solid #e4e4e4;
    padding: 7px 0px 7px 22px;
}

.items{
    display: grid;
    grid-template-columns: 400px  993px;
    grid-column-gap: 20px;
}

.categories{
    margin-top: 40px;
    margin-left: 110px;
    padding: 1px 0px 0px 20px;
    background-color: #f7f7f7;
}

.categories-content{
    display: flex;
}

.categories-content img{
    width: 19px;
}

.categories-content h5{
    margin: 15px;
}


.items-cards{
    display: flex;
    margin-top: 40px;
    margin-bottom: -40px;
    flex-direction: column;
}


.item-heading{
    display: flex;
    justify-content: space-between;
}

.items-box{
    margin-top: 10px;
}

.items-box , .product-cat , .customer-product , .best-seller-box p{
    font-size: 14px;
}

.item-heading .item-btn{
    margin-top: 30px;
    background-color: #ff696b;
    color: #fff;
    border: 1px solid #ff696b;
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    height: 36px;
}


.card-img{
    margin-top: 20px;
}
.card-img img{
    width: 100%;
    max-width: 144px;
}

.items-img h5{
    margin: 10px 0px 10px 0px;
}

.items-img #price{
    color: rgb(66 186 146);
    font-weight: 600;
}

.items-img #price-cut{
    -webkit-text-decoration-line: line-through;
   text-decoration-line: line-through; 
}

.checked {
    color: orange;
}

.fa-star span , #stock{
    color: rgb(66 186 146);
    font-weight: 400;
}

.item-add{
    padding: 10px 65px 10px 65px;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    border-radius: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.item-card{
    color: rgb(66 186 146);
    padding: 9px;
    border-radius: 50%;
    margin-left: -38px;
    background-color: #fff;
    cursor: pointer;
}
/* ======================== item Section End ========================= */


}